<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Index Box Menu</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />
</head>

<body>
    <div th:insert="~{insertions::loginInfo(${#session.getAttribute('sessionAppUser')})}">LoginInfo</div>

	<h1 th:utext="#{createQuestionsWithAnswersPage.header}">Edit Or Create IndexBox</h1>
	<form action="#" th:action="@{/controlActionCreateQuestionsWithAnswers}"
			th:object="${createQuestionsWithAnswersModAtt}" method="post">
		<div th:if="*{mandatoryViolated}">
			<p th:utext="#{createQuestionsWithAnswersPage.mandatoryViolated}" class="error">Please fill all
				fields!</p>
		</div>
		<div th:if="*{questionAlreadyExists}">
			<p th:utext="#{createQuestionsWithAnswersPage.wordAlreadyExists}" class="error">Please fill all
				fields!</p>
		</div>
		<div th:if="*{noIndexBoxExists}">
			<p th:utext="#{createQuestionsWithAnswersPage.noIndexBoxExists}" class="error">Please fill all
				fields!</p>
		</div>
		<div>
			<label th:utext="#{createQuestionsWithAnswersPage.indexBox}"></label>
			<select th:field="*{questionWithAnswer.indexBoxDescription}" >
			    <option
			    	th:each="currentIndexBox : *{indexBoxesDescriptions}"
			    	th:selected="*{selectedIndexBoxIndex} == currentIndexBox.index"
			    	th:value="${currentIndexBox}"
			    	th:text="${currentIndexBox}">
			    </option>
			</select>
			<label th:utext="#{createQuestionsWithAnswersPage.learningStrategy}"></label>
			<select th:field="*{questionWithAnswer.learningStrategyDescription}">
				<option th:utext="#{createQuestionsWithAnswersPage.emptyLearningStrategy}"  th:value="#{createQuestionsWithAnswersPage.emptyLearningStrategy}">
			    <option
			    	th:each="currentlearningStrategy : *{learningStrategiesDescriptions}"
			    	th:value="${currentlearningStrategy}"
			    	th:text="${currentlearningStrategy}"
			    	th:selected="currentlearningStrategy.index == *{selectedLearningStrategyIndex}">
			    </option>
			</select>
		</div>
		<div>
		
		<label th:utext="#{createQuestionsWithAnswersPage.question}"></label>
		<input type="text" th:field="*{questionWithAnswer.question}" />
		<label th:utext="#{createQuestionsWithAnswersPage.answer}"></label>
		<input type="text" th:field="*{questionWithAnswer.answer}" />
		</div>
		<div th:unless="*{noIndexBoxExists}">
			<button type="submit" name="submit" th:utext="#{createQuestionsWithAnswersPage.submit}" ></button>
			<button type="submit" name="next" th:utext="#{createQuestionsWithAnswersPage.next}" ></button>
		</div>
		<button type="submit" name="cancel" th:utext="#{createQuestionsWithAnswersPage.cancel}" ></button>
	</form>
</body>

</html>

