<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Index Box Menu</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />
</head>

<body>

    <div th:insert="~{insertions::loginInfo(${#session.getAttribute('sessionAppUser')})}">LoginInfo</div>
	<h1 th:utext="#{editOrCreateLearningStrategyPage.header}">Edit Or Create LearningStrategy</h1>
 	<form action="#" th:action="@{/controlActionEditOrCreateLearningStrategy}"
			th:object="${editOrCreateLearningStrategyModAtt}" method="post">
		<div th:if="*{mandatoryViolated}">
			<p th:utext="#{editOrCreateLearningStrategyPage.mandatoryViolated}" class="error">Please fill all
				fields!</p>
		</div>
		<div th:if="*{learningStrategyWithThisNameAlreadyExists}">
			<p th:utext="#{editOrCreateLearningStrategyPage.learningStrategyWithThisNameAlreadyExists}" class="error">Please fill all
				fields!</p>
		</div>
		<div th:text="#{editOrCreateLearningStrategyPage.name}">Name:</div>
		<input type="text" th:field="*{learningStrategy.name}" />
		<button type="submit" name="assignSuccessSteps" th:utext="#{editOrCreateLearningStrategyPage.assignSuccessSteps}" ></button>
		<button type="submit" name="cancel" th:utext="#{editOrCreateLearningStrategyPage.cancel}" ></button>
	</form>

 </body>

</html>

