<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Index Box Menu</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />
</head>

<body>
    <div th:insert="~{insertions::loginInfo(${#session.getAttribute('sessionAppUser')})}">LoginInfo</div>

	<h1 th:utext="#{editOrCreateSuccessStepPage.header}">Edit Or Create SuccessStep</h1>
	<form action="#" th:action="@{/controlActionEditOrCreateSuccessStep}"
			th:object="${editOrCreateSuccessStepModAtt}" method="post">
		<div th:if="*{mandatoryViolated}">
			<p th:utext="#{editOrCreateSuccessStepPage.mandatoryViolated}" class="error">Please fill all
				fields!</p>
		</div>
		<div th:if="*{successStepWithThisNameAlreadyExists}">
			<p th:utext="#{editOrCreateSuccessStepPage.successStepWithThisNameAlreadyExists}" class="error">Please fill all
				fields!</p>
		</div>
		<div th:text="#{editOrCreateSuccessStepPage.name}">Name:</div>
		<input type="text" th:field="*{successStep.name}" />
		<div th:text="#{editOrCreateSuccessStepPage.nextAppearanceInDays}">Next Appearance In Days:</div>
		<input type="text" th:field="*{successStep.nextAppearanceInDays}" />
		<div th:text="#{editOrCreateSuccessStepPage.behaviourIfWrong}">Behaviour If Wrong:</div>
	    <select th:field="*{successStep.behaviourIfWrong}"  id="dropOperator">
	    	<option	
	    		th:each="selectableBehaviour : *{selectableBehaviours}"
	    		th:value="${selectableBehaviour}"
	    		th:utext="#{${'manageConfigurationsPage.'}+${selectableBehaviour}}"/>
	    </select>
		<div th:text="#{editOrCreateSuccessStepPage.faultTolerance}">FALULT TOLERANCE:</div>
    	<select th:field="*{successStep.faultTolerance}"  id="dropOperator">
	    	<option	
	    		th:each="selectableFaultTolerance : *{selectableFaultTolerances}"
	    		th:value="${selectableFaultTolerance}"
	    		th:utext="#{${'editOrCreateSuccessStepPage.'}+${selectableFaultTolerance}}"/>
	    </select>
	    <br/>
		<button type="submit" name="submit" th:utext="#{editOrCreateSuccessStepPage.submit}" ></button>
		<button type="submit" name="cancel" th:utext="#{editOrCreateSuccessStepPage.cancel}" ></button>
	</form>
</body>

</html>

