<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Index Box Menu</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />
</head>

<body>


	<h1
		th:utext="#{manageQuestionsWithAnswersPage.manageQuestionsWithAnswers}">ManageQuestionsWithAnswers</h1>
	<div
		th:insert="~{insertions::loginInfo(${#session.getAttribute('sessionAppUser')})}">LoginInfo</div>
	<form action="#"
		th:action="@{/controlActionManageQuestionsWithAnswers}"
		method="post">

		<button type="submit" name="createQuestionsWithAnswers" th:utext="#{manageQuestionsWithAnswersPage.addQuestionWithAnswer}" ></button>
		<h2 th:utext="#{manageQuestionsWithAnswersPage.filter}">Filter</h2>
		<table>
			<tr>
				<th th:utext=#{manageQuestionsWithAnswersPage.filter}>FILTER</th>
				<th th:utext=#{manageConfigurationsPage.name}>NAME</th>
				<th th:utext=#{manageConfigurationsPage.subject}>SUBJECT</th>
			</tr>
			<tr
				th:each="indexBox : ${#session.getAttribute('sessionIndexBoxAttrRefList')}">
				<td><a href="manageQuestionsWithAnswersPage.html"
					th:href="@{/controlLinkRemoveIndexBoxFromFilter(index=${indexBoxStat.index})}"
					th:if="${indexBox.filterOn}"> <img alt="remove"
						src="imgs/checkboxChecked.jpg"
						th:src="@{/imgs/checkboxChecked.jpg}">
				</a> <a href="manageQuestionsWithAnswersPage.html"
					th:href="@{/controlLinkAddIndexBoxToFilter(index=${indexBoxStat.index})}"
					th:if="${not indexBox.filterOn}"> <img alt="add"
						src="imgs/checkboxUnChecked.jpg"
						th:src="@{/imgs/checkboxUnChecked.jpg}">
				</a></td>
				<td th:text="${indexBox.name}">Onions</td>
				<td th:text="${indexBox.subject}">Onions</td>
			</tr>
		</table>
		<h2 th:utext="#{manageQuestionsWithAnswersPage.words}">Filter</h2>
		<table>
			<tr>
				<th th:utext=#{manageQuestionsWithAnswersPage.selected}>SELECTED</th>
				<th th:utext=#{manageQuestionsWithAnswersPage.action}>ACTION</th>
				<th th:utext=#{manageQuestionsWithAnswersPage.question}>QUESTION</th>
				<th th:utext=#{manageQuestionsWithAnswersPage.answer}>ANSWER</th>
				<th th:utext=#{manageQuestionsWithAnswersPage.indexBox}>INDEX_BOX</th>
				<th th:utext=#{manageQuestionsWithAnswersPage.learningStrategy}>LEARNING_STRATEGY</th>
				<th th:utext=#{manageQuestionsWithAnswersPage.learningProgress}>ACTUAL_SUCCESSSTEP</th>
			</tr>
			<tr th:each="questionWithAnswer : ${#session.getAttribute('sessionQuestionsWithAnswers')}">
				<td>
					<a href="manageQuestionsWithAnswersPage.html"
						th:href="@{/controlLinkRemoveQuestionWithAnswerFromFilter(index=${questionWithAnswerStat.index})}"
						th:if="${questionWithAnswer.filterOn}">
						<img alt="remove"
							src="imgs/checkboxChecked.jpg"
							th:src="@{/imgs/checkboxChecked.jpg}"
						>
					</a>
					<a href="manageQuestionsWithAnswersPage.html"
						th:href="@{/controlLinkAddQuestionWithAnswerToFilter(index=${questionWithAnswerStat.index})}"
						th:if="${not questionWithAnswer.filterOn}">
						<img alt="add"
								src="imgs/checkboxUnChecked.jpg"
							th:src="@{/imgs/checkboxUnChecked.jpg}">
					</a>
				</td>
				<td>
					<table>
		      			<tr>
			      			<td>
					      		<a href="editQuestionWithAnswerPage.html"
										th:href="@{/controlLinkEditQuestionWithAnswer(index=${questionWithAnswerStat.index})}"
										th:utext="#{manageQuestionsWithAnswersPage.edit}">
											edit
										</a>
							</td>
			      			<td>
					      		<a href="deleteQuestionWithAnswer.html"
										th:href="@{/controlLinkDeleteQuestionWithAnswer(index=${questionWithAnswerStat.index})}"
										th:utext="#{manageQuestionsWithAnswersPage.delete}">
											delete
								</a>
							</td>
						</tr>
					</table>
				</td>
				<td th:text="${questionWithAnswer.question}">Onions</td>
				<td th:text="${questionWithAnswer.answer}">Onions</td>
				<td th:text="${questionWithAnswer.indexBoxDescription}">Onions</td>
				<td th:text="${questionWithAnswer.learningStrategyDescription}">Onions</td>
				<td th:text="${questionWithAnswer.learningProgress}">Onions</td>
			</tr>
		</table>
		<button type="submit" name="selectAll" th:utext="#{manageQuestionsWithAnswersPage.selectAll}" ></button>
		<button type="submit" name="deselectAll" th:utext="#{manageQuestionsWithAnswersPage.deselectAll}" ></button>
		
		<br/>
		<button type="submit" name="backToMenu" th:utext="#{manageConfigurationsPage.menu}" ></button>
	</form>
</body>

</html>

