<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Words Trainer Main Menu</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />
</head>

<body>

	<h1 th:utext="#{menuPage.mainmenu}">Online-Vokabeltrainer Hauptmenü</h1>
    <div th:insert="~{insertions::loginInfo(${#session.getAttribute('sessionAppUser')})}">LoginInfo</div>
	<br/>
	<form action="#" th:action="@{/controlActionMenu }" method="post">
		<button type="submit" name="learn" th:utext="#{menuPage.learn}" >LEARN</button>
		<br/>
		<button type="submit" name="manageQuestionsWithAnswers" th:utext="#{menuPage.manageQuestionsWithAnswers}" >Manage Words</button>
		<br/>
		<button type="submit" name="manageConfigurations" th:utext="#{menuPage.manageConfigurations}" >Manage Configurations</button>
		<br/>
		<button type="submit" name="editAppUser" th:utext="#{menuPage.editAppUser}" >Edit AppUser</button>
		<button type="submit" name="deleteAppUser" th:utext="#{menuPage.deleteAppUser}" >Edit AppUser</button>
	</form>
</body>

</html>

