<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Vokabeltrainer Online New Account</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />
</head>

<body>

	<h1>Neuer Account</h1>

	<div th:object="${createAppUserModAtt}">
		<div th:if="*{mandatoryViolated}">
			<p th:utext="#{createAppUserPage.mandatoryViolated}" class="error">Please fill all
				fields!</p>
		</div>
		<div th:if="*{passwordsNotEqual}">
			<p th:text="#{createAppUserPage.passwordsNotEqual}" class="error">The passwords are different.</p>
		</div>
		<div th:if="*{appUserAlreadyExists}">
			<p th:utext="#{createAppUserPage.appUserAlreadyExists(*{appUser.email})}" class="error">This appUser already exists.</p>
		</div>
	</div>

	<form action="#" th:action="@{/controlActionCreateAppUser }"
		th:object="${createAppUserModAtt}" method="post">
		<p>
			<div th:text="#{createAppUserPage.email}">
				E-Mail:
			</div>
			 <input type="text" th:field="*{appUser.email}" />
		</p>
		<p>
			<div  th:text="#{createAppUserPage.password}">
				Password:
			</div>
			 <input type="password" th:field="*{appUser.password}" />
		</p>
		<p>
			<div  th:text="#{createAppUserPage.passwordRepeated}">
				Password:
			</div>
			 <input type="password" th:field="*{passwordRepeated}" />
		</p>
		<p>
			<button type="submit" name="submit" th:utext="#{createAppUserPage.addAppUser}">Add Account</button>
			<button type="submit" name="cancel" th:utext="#{createAppUserPage.cancel}">Cancel</button>
		</p>
	</form>
</body>

</html>

