<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Delete AppUser Account</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />
</head>

<body>

	<h1 th:utext="#{deleteAppUserPage.deleteAppUser}">Delete AppUser</h1>
	<div th:insert="~{insertions::loginInfo(${#session.getAttribute('sessionAppUser')})}">LoginInfo</div>
	

	<div th:object="${deleteAppUserModAtt}">
		<div th:if="*{mandatoryViolated}">
			<p th:utext="#{deleteAppUserPage.mandatoryViolated}" class="error">Please fill all
				fields!</p>
		</div>
		<div th:if="*{wrongPassword}">
			<p th:utext="#{manageAppUser.wrongPassword(*{appUser.email})}" class="error">This appUser already exists.</p>
		</div>
	</div>

	<form action="#" th:action="@{/controlActionDeleteAppUser }"
		th:object="${deleteAppUserModAtt}" method="post">
		<p>
			<div  th:text="#{registerForm.password}">
				Password:
			</div>
			 <input type="password" th:field="*{appUser.password}" />
		</p>
		<p>
 			<button type="submit" name="delete" th:utext="#{deleteAppUserPage.delete}" >Delete</button>
 			<button type="submit" name="cancel" th:utext="#{deleteAppUserPage.cancel}" >Cancel</button>
		</p>
	</form>
</body>

</html>

