<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Index Box Menu</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />
</head>

<body>
    <div th:insert="~{insertions::loginInfo(${#session.getAttribute('sessionAppUser')})}">LoginInfo</div>

	<h1 th:utext="#{editLearnProfilePage.editLearnProfile}">Edit LearnProfile</h1>
	<form action="#" th:action="@{/controlActionEditLearnProfile}"
			th:object="${editLearnProfileModAtt}" method="post">
			
		<div th:text="#{manageConfigurationsPage.maxNumberOfWrongAnswersPerSession}">NAME:</div>
		<input type="text" th:field="*{learnProfile.maxNumberOfWrongAnswersPerSession}" placeholder="0-99" pattern="\d{,2}"/>
    	<select th:field="*{learnProfile.behaviourIfPoolWithWrongAnswersIsFull}"  id="dropOperator">
	    	<option	
	    		th:each="selectableBehaviour : *{selectableBehavioursIfPoolWithWrongAnswersIsFull}"
	    		th:value="*{learnProfile.behaviourIfPoolWithWrongAnswersIsFull}"
	    		th:utext="#{${'manageConfigurationsPage.'}+${selectableBehaviour}}"/>
	    </select>

		<button type="submit" name="submit" th:utext="#{editOrCreateIndexBoxPage.submit}" ></button>
		<button type="submit" name="cancel" th:utext="#{editOrCreateIndexBoxPage.cancel}" ></button>
	</form>
</body>

</html>

