<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Index Box Menu</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />
</head>

<body>

	<h1 th:utext="#{editOrCreateSuccessStep.header}">Edit Or Create SuccessStep</h1>
    <div th:insert="~{insertions::loginInfo(${#session.getAttribute('sessionAppUser')})}">LoginInfo</div>
	<form action="#" th:action="@{/editOrCreateSuccessStep}"
		th:object="${successStepForm}" method="post">
		<p>
			<div th:text="#{editOrCreateSuccessStep.name}">Name:</div>
			<input type="text" th:field="*{name}" />
		</p>
		<p>
			<div th:text="#{editOrCreateSuccessStep.nextAppearanceInDays}">Next Appearance In Days:</div>
			<input type="text" th:field="*{nextAppearanceInDays}" />
		</p>
		<p>
			<div th:text="#{editOrCreateSuccessStep.behaviourIfWrong}">Behaviour If Wrong:</div>
		    <select th:field="*{behaviourIfWrong}"  id="dropOperator">
		    	<option th:each="selectableBehaviour : ${selectableBehaviours}" th:value="${selectableBehaviour}" th:text="${selectableBehaviour}"></option>
		    </select>
		</p>
		<p>
			<button type="submit" name="submit" th:text="#{editOrCreateSuccessStep.submit}" />
			<button type="submit" name="cancel" th:text="#{editOrCreateSuccessStep.cancel}" />
		</p>
	</form>

	<a href="menu.html" th:href="@{/menu}" th:utext="#{manageIndexBoxes.menu}">delete appUser</a>
	<a href="login.html" th:href="@{/login}" th:utext="#{manageIndexBoxes.logout}">Logout</a>
</body>

</html>

