<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Words Trainer Login</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />
</head>

<body>

	<h1>Online-Vokabeltrainer</h1>
	<h2>Vokabeln lernen.</h2>
	<h2>Von überall.</h2>

	<h1>Login</h1>

	<div th:object="${loginModAtt}">
		<div th:if="*{mandatoryViolated}">
			<p th:text="#{loginPage.mandatory}" class="error">Please fill all
				fields!</p>
		</div>
		<div th:if="*{loginError}">
			<p th:text="#{loginPage.error}" class="error">Login failed.</p>
		</div>
	</div>

	<form action="#" th:action="@{/controlActionLogin }"
		th:object="${loginModAtt}" method="post">
		<div th:text="#{loginPage.email}">E-Mail:</div>
		<input type="text" th:field="*{appUser.email}" />
		<div th:utext="#{loginPage.password}">Password:</div>
		<input type="password" th:field="*{appUser.password}" />
		<p>
			<button type="submit" name="login" th:utext="#{loginPage.login}" ></button>
			<button type="submit" name="createAppUser" th:utext="#{loginPage.newAccount}" ></button>
		</p>
	</form>
</body>

</html>

