<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Index Box Menu</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />
</head>

<body>

	<h1 th:utext="#{manageConfigurationsPage.manageConfigurations}">Configurations Overview</h1>
    <div th:insert="~{insertions::loginInfo(${#session.getAttribute('sessionAppUser')})}">LoginInfo</div>
	<form action="#" th:action="@{/controlActionManageConfiguration }"
			th:object="${manageConfigurationsModAtt}" method="post">
		<h2 th:utext="#{manageConfigurationsPage.indexBoxes}">Index Boxes</h2>
		<table>
	      <tr th:each="indexBox : *{allIndexBoxes}">
	        <td th:text="${indexBox.name}">Onions</td>
	      </tr>
	    </table>
	  
		<h2 th:utext="#{manageConfigurationsPage.learningStrategies}">Learning Strategies</h2>
		<table>
	      <tr th:each="learningStrategy : *{allLearningStrategies}">
	        <td th:text="${learningStrategy.name}">Onions</td>
	      </tr>
	    </table>
		<button type="submit" name="createLearningStrategy" th:utext="#{manageConfigurationsPage.createLearningStrategy}" ></button>
	
	    <h2 th:utext="#{manageConfigurationsPage.successSteps}">Success Steps</h2>
		<table>
		  <tr>
		  	<th th:utext="#{manageConfigurationsPage.action}">ACTION</th>
		    <th th:utext="#{manageConfigurationsPage.name}">NAME</th>
		    <th th:utext="#{manageConfigurationsPage.nextAppearanceInDays}">NEXT_APPEARANCE_IN_DAYS</th>
		    <th th:utext="#{manageConfigurationsPage.behaviourIfWrong}">BEHAVIOUR_IF_WRONG</th>
		  </tr>
	      <tr th:each="successStep : *{allSuccessSteps}">
	      	<td>
	      		<table>
	      			<tr>
		      			<td>
				      		<a href="editOrCreateSuccessStepPage.html"
									th:href="@{/controlLinkEditSuccessStep(name=${successStep.name})}"
									th:utext="#{manageConfigurationsPage.edit}">
										edit
									</a>
						</td>
		      			<td>
				      		<a href="deleteSuccessStepPage.html"
									th:href="@{/controlLinkDeleteSuccessStep(name=${successStep.name})}"
									th:utext="#{manageConfigurationsPage.delete}">
										delete
									</a>
						</td>
					</tr>
				</table>
	      	</td> 
	        <td th:utext="${successStep.name}">Onions</td>
	        <td th:utext="${successStep.nextAppearanceInDays}">Onions</td>
	        <td th:utext="#{${'manageConfigurationsPage.'}+${successStep.behaviourIfWrong}}">Onions</td>
	      </tr>
	    </table>
		<button type="submit" name="createSuccessStep" th:utext="#{manageConfigurationsPage.createSuccessStep}" ></button>
		<br/>
		<button type="submit" name="backToMenu" th:utext="#{manageConfigurationsPage.menu}" ></button>
		<button type="submit" name="logout" th:utext="#{manageConfigurationsPage.logout}" ></button>
	</form>
</body>

</html>

