<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Manage User Account</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />
</head>

<body>

	<h1 th:utext="#{manageUser.manageUser}">Manage User</h1>
	<div th:insert="~{insertions::loginInfo(${#session.getAttribute('sessionUser')})}">LoginInfo</div>
	

	<div th:object="${register}">
		<div th:if="*{mandatoryViolated}">
			<p th:utext="#{manageUser.mandatoryViolated}" class="error">Please fill all
				fields!</p>
		</div>
		<div th:if="*{passwordsNotEqual}">
			<p th:text="#{register.passwordsNotEqual}" class="error">The passwords are different.</p>
		</div>
		<div th:if="*{userAlreadyExists}">
			<p th:utext="#{register.userAlreadyExists(*{user.email})}" class="error">This user already exists.</p>
		</div>
		<div th:if="*{wrongPassword}">
			<p th:utext="#{manageUser.wrongPassword(*{user.email})}" class="error">This user already exists.</p>
		</div>
	</div>

	<form action="#" th:action="@{/changeUser }"
		th:object="${register}" method="post">
		<p>
			<div th:text="#{register.email}">
				E-Mail:
			</div>
			 <input type="text" th:field="*{user.email}" />
		</p>
		<p>
			<div  th:text="#{register.password}">
				Password:
			</div>
			 <input type="password" th:field="*{user.password}" />
		</p>
		<p>
			<div  th:text="#{register.passwordRepeated}">
				Password:
			</div>
			 <input type="password" th:field="*{passwordRepeated}" />
		</p>
		<p>
			<button type="submit" th:utext="#{manageUser.submitChanges}">Add Account</button>
		</p>
	</form>
	<a href="main.html" th:href="@{/main}" th:utext="#{manageUser.cancel}">Cancel</a>
</body>

</html>

