<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Words Trainer Main Menu</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />
</head>

<body>

	<h1 th:utext="#{menu.mainmenu}">Online-Vokabeltrainer</h1>
    <div th:insert="~{insertions::loginInfo(${#session.getAttribute('sessionAppUser')})}">LoginInfo</div>
    <a href="manageIndexBoxes.html" th:href="@{/manageIndexBoxes}" th:utext="#{menu.manageIndexBoxes}">manage index boxes</a>
	<br/>
	<a href="manageAppUser.html" th:href="@{/manageAppUser}" th:utext="#{menu.manageAppUser}">manage appUser</a>
	<a href="deleteAppUser.html" th:href="@{/deleteAppUser}" th:utext="#{menu.deleteAppUser}">delete appUser</a>
	<a href="login.html" th:href="@{/login}" th:utext="#{menu.logout}">Logout</a>
</body>

</html>

